/* ------------------CSS RESETS AND BASE RULES ------------------*/

/*-------------COLOUR ---------------*/
$primary-color: #033232;
$secondary-color: #6fc68e;
$accent-color: #b5ebf6;
$heading-color: #c8f3d7;
$bgblend-color: #1a5454;
$text-color: #ffffff;

$font-stack: "Yeseva One", cursive;

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu,  nav,   section {
  display: block;
}

body {
  line-height: 1;
  background-color: $primary-color;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----------------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 5px 0 10px 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  color: $text-color;
  line-height: 1.6;
}
