ul {
  list-style-type: none;
  padding: 0;
}

li {
  // display: inline-block;
  margin: 0px 10px;
}

a {
  color: #42b983;
}

html,
body {
  padding: 0px;
  margin: 0px !important;
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
}

nav {
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    // width: 100vw;
    font-size: 1rem;
    // background-color: #42b983;
    background-color: white;
    position: relative;
    z-index: 256259629582;
    padding: 0.5em 2em;

    .navbar-div {
      display: none;

      ul {
        display: none;
      }
    }

    .nav-logo {
      display: flex;
      justify-content: flex-start;
      margin: 0;
      width: 140px;
      height: 60px;
      position: relative;
      z-index: 2;
      // background-color: #7042b9;
    }

    .navbar-nav {
      display: flex;
      flex-direction: row;

      .social-icon {
        display: none;
        width: 20px;
        height: 20px;
      }
    }
    .nav-menu {
      margin-left: auto;
      width: 2vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .nav-hamburgerbtn {
        width: 20px;
        height: 2px;
        margin-bottom: 4px;
        background-color: #191919;
      }
    }
  }

  .dropdown {
    display: none;
    width: 100vw;
    background-color: rgb(255, 247, 223, 0.8);
    position: absolute;
    z-index: 1;
    top: 0;
    // transition: top 2s linear 1s;
    animation: translateDown 600ms ease-in-out forwards;
    transform-origin: top center;
  }
}

header {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  // background-color: #5a27e4;
  .header-hero-container {
    margin: 2em 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #848686;

    .header-hero {
      display: flex;
      flex-direction: column;

      .head-text {
        line-height: 0.3;
        background-color: #fcd8d9;

        h4 {
          color: #ff5e62;
        }
        h2 {
          // background-color: #42b983;
          margin: 0;
          padding: 0;
          width: 100%;
          font: 400 2rem "Bubblegum Sans";
          line-height: 0.7;
          text-align: left;
          // background-color: #ff5e62;
        }
        h3 {
          font: 600 1.5rem "Poppins";
          color: #848686;
          margin: 0;
          padding: 0;

          // background-color: #42b983;
        }
        p {
          font: 400 0.875rem "Poppins";
          text-align: left;
        }

        .scroll {
          position: absolute;
          top: 35rem;
          left: 14rem;
          color: #414042;
          font: 400 1rem "Poppins";
          height: 100vh;
        }
        .scroll-line::after {
          content: " ";
          position: absolute;
          top: 38rem;
          left: 15.54rem;
          border-left: 1px solid #414042;
          height: 20rem;
        }
      }
    }
  }

  .hanger-div {
    display: none;
  }
}
section {
  height: 100vh;
  // background-color: #ff5e62;
}

@keyframes translateDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(4em);
  }
}

/* MEDIA QUERIES BEGIN*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    background-color: green;
    .blob {
      display: none;
    }
    header {
      .hanger-div {
        display: none;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 600px) {
  .container {
    background-color: red;
  }
}

/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 768px) {
  .container {
    background-color: #42b983;
  }
}
/* Large devices (laptops/desktops, 992px and below) */
// @media only screen and (min-width: 1070px) {

// }

/* Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1200px) {
  .container {
    background-color: white;
  }
}
