h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0px 10px;
}

a {
  color: #42b983;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container header {
  width: 100vw;
  height: 100vh;
  padding: 0px;
}
.container header .head-text {
  line-height: 0.3;
}
.container header .head-text h4 {
  color: #ff5e62;
}
.container header .head-text h2 {
  margin: 0;
  padding: 0;
  width: 100%;
  font: 400 4rem "Bubblegum Sans";
  line-height: 0.7;
}
.container header .head-text h3 {
  font: 600 2.5rem "Poppins";
  color: #848686;
  margin: 0;
  padding: 0;
}
.container header .head-text p {
  font: 400 1.1rem "Poppins";
}
.container header .head-text .scroll {
  position: absolute;
  top: 35rem;
  left: 14rem;
  color: #414042;
  font: 400 1rem "Poppins";
  height: 100vh;
}
.container header .head-text .scroll-line::after {
  content: " ";
  position: absolute;
  top: 38rem;
  left: 15.54rem;
  border-left: 1px solid #414042;
  height: 20rem;
}
.container header .hanger-div {
  margin: 4rem 0 0 6rem !important;
  padding: 0;
  display: flex;
  flex-direction: row;
  z-index: 3;
}
.container header .hanger-div .header-img {
  width: 50vw;
  height: 580px;
}
.container section {
  height: 100vh;
}

#cta-section {
  margin-top: 8rem;
  height: 100vh;
}
#cta-section .main-text {
  font: 600 2.3rem "Poppins";
}
#cta-section .cta-text {
  font: 400 1.1rem "Poppins";
  text-align: left;
}
#cta-section .cta-div {
  margin-top: 2rem;
}
#cta-section #blue-square {
  display: flex;
  width: 456px;
  height: 628px;
  background-color: #d4f3fa;
  z-index: 1;
}
#cta-section #red-square {
  position: absolute;
  top: 5rem;
  right: 6rem;
  width: 530px;
  height: 123px;
  background-color: #ff5e62;
  z-index: 2;
  vertical-align: middle;
}
#cta-section #red-square .work-h1 {
  font: 600 2.3rem "Poppins";
  line-height: 1.4;
}
#cta-section #red-square .work-p {
  margin: 0;
  font: 400 1.2rem "Poppins";
  line-height: 0.3;
}
#cta-section #sneaker {
  position: absolute;
  top: 20rem;
  right: 5rem;
}

#quote-section {
  position: static;
  margin: 0;
  width: 100vw;
  height: 60vh;
  background-color: #fff7df;
}
#quote-section h3 {
  width: 50rem;
  font: 600 2rem "Poppins";
}
#quote-section p {
  font: 600 1rem "Poppins";
  color: #ff5e62;
}
#quote-section strong {
  color: #ff5e62;
  font: 600 2rem "Poppins";
}
#quote-section .author-quote {
  width: 50rem;
}

#projects-section {
  margin-top: -40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#projects-section .red-box {
  position: absolute;
  left: 0px;
  width: 30rem;
  height: 100vh;
  background-color: #ff6762;
  z-index: 1;
}
#projects-section .project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 100vh;
}
#projects-section .project-container .project-sub-grid {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 90vw;
  height: 80vh;
  background-color: white;
  border-radius: 20px;
  z-index: 1;
}
#projects-section .project-container .project-sub-grid button {
  display: flex;
  justify-self: end;
  height: 3rem;
}

#supplies-section {
  display: flex;
  flex-direction: column;
  height: 80vh;
  position: relative;
}
#supplies-section .tape-measure {
  position: absolute;
  top: -3rem;
  z-index: 1;
  left: -8rem;
}
#supplies-section .supplies-container {
  margin: 4rem 0 2rem 3rem;
  height: 100vh;
}
#supplies-section .supplies-container div h1 {
  font: 600 2.5rem "Poppins";
  line-height: 0.8;
}
#supplies-section .supplies-container div p {
  font: 400 1.4rem "Poppins";
}
#supplies-section .supplies-container .supplies-ul {
  font: 400 1.4rem "Poppins";
}

#contact-section {
  height: 100vh;
}

.tape {
  position: absolute;
  top: 0;
  left: -6rem;
  z-index: 1;
}

.blob {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.navbar-div {
  margin: 15px 15rem 0 10rem;
  font: 600 0.9rem "Poppins";
  min-width: 25rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-div ul {
  margin: 10px;
  display: flex;
  justify-content: center;
}
.navbar-div ul li {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

.nav-icons {
  margin: 0 8px;
  width: 18px;
  height: 18px;
  z-index: 2;
}

.nav-logo {
  margin: 0 3.4rem;
  width: 170px;
  height: 80px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    background-color: green;
  }
  .container .blob {
    display: none;
  }
  .container header .hanger-div {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    background-color: red;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    background-color: #42b983;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    background-color: brown;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    background-color: white;
  }
}/*# sourceMappingURL=app.css.map */