/* ------------------CSS RESETS AND BASE RULES ------------------*/
/*-------------COLOUR ---------------*/
/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #033232;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----------------------------------*/
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 5px 0 10px 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  color: #ffffff;
  line-height: 1.6;
}

/* LAYOUTS */
/* Nav */
nav {
  display: flex;
  flex-direction: row;
  background-color: #033232;
  padding: 0.5rem;
}

#header_section {
  display: block;
  padding: 2em 0;
  max-width: 100%;
}

#about_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  position: relative;
  text-align: left;
  width: 100vw;
  max-width: 100%;
}

#featured_projects {
  padding: 2rem 1rem;
  max-width: 100%;
  color: #ffffff;
  background-color: #033232;
}

#contact_section {
  padding: 1rem;
}

#footer {
  background-color: antiquewhite;
}

nav {
  /*Nav Hamburger */
}
nav .nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  max-width: 100%;
}
nav .nav-logo {
  margin: 0 1rem 0 1rem;
  width: 6rem;
  height: 3rem;
}
nav .nav-menu {
  margin-left: auto;
}
nav .nav-hamburgerctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}
nav .nav-hamburgerctn .nav-hamburgerbtn {
  margin: 2px 0;
  content: " ";
  width: 1.5rem;
  height: 2px;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.section_h1s {
  margin-top: 2rem;
  color: #c8f3d7;
  font-family: "Yeseva One", cursive;
  font-size: 2rem;
  font-weight: 400;
}

.CTA_btn {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 3em;
  font-weight: 600;
  color: #033232;
  background-color: #6fc68e;
}

#header_section .header_details {
  margin: 1.5rem 0;
  padding: 0 1rem;
  max-width: 100%;
}
#header_section .header_details .hero_ctn {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#header_section .header_details .hero_ctn .intro_span {
  text-align: left;
  font-size: 0.875rem;
  font: 300 "Poppins";
  color: #ffffff;
}
#header_section .header_details .hero_ctn h1 {
  font-family: "Yeseva One", cursive;
  text-align: left;
  color: #c8f3d7;
  font-size: 2rem;
  font-weight: 400;
}
#header_section .header_details .hero_ctn span {
  text-align: left;
  display: inline;
  font-size: 1.75rem;
}
#header_section .header_details .hero_ctn p {
  margin: 1em 0;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.6;
  width: 90vw;
}
#header_section .header_details .hero_ctn .sub_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#header_section .header_details .hero_ctn .sub_text span {
  text-align: left;
  font-size: 1.875rem;
  min-width: fit-content;
  color: #6fc68e;
  font-weight: 400;
  font-family: "Yeseva One", cursive;
}
#header_section .header_details .hero_ctn .sub_text .subtext_line {
  display: none;
  margin: auto 0.5rem;
  width: 3rem;
  height: 1px;
  background-color: #6fc68e;
}
#header_section .header_details .hero_ctn .sub_text .subtext_here {
  display: none;
  color: #c8f3d7;
  font-size: 1.5rem;
  font-weight: 300;
}
#header_section .header_details .purpleblob_ctn {
  position: relative;
  z-index: -2;
}
#header_section .header_details .purpleblob_ctn .purpleblob {
  position: absolute;
  top: -3rem;
  left: -10rem;
  width: 20rem;
  height: 100vh;
  z-index: -1;
}

#about_section .cyclinder_shp {
  margin: 0 auto;
  margin-top: 3.5rem;
  width: 15rem;
  height: 22rem;
  background-color: #1a5454;
  border-bottom-left-radius: 190px;
  border-bottom-right-radius: 190px;
}
#about_section .aboutme_pic {
  position: absolute;
  top: 9rem;
  margin: 0 auto;
  width: 13rem;
  border-bottom-left-radius: 190px;
  border-bottom-right-radius: 190px;
}
#about_section .glass_bg .about_name {
  margin: 2rem 0 0.5rem 0;
  color: #6fc68e;
}
#about_section .glass_bg .title {
  margin-bottom: 8em;
  color: #ffffff;
}
#about_section .glass_bg p {
  margin-top: 2rem;
}
#about_section .glass_bg .attribute_icons {
  display: flex;
  flex-direction: row;
  color: white;
}

#featured_projects .project_ctn {
  text-align: left;
  align-items: flex-start;
  margin: 2rem auto;
  background-color: #1a5454;
  width: 90vw;
  max-width: 80vw;
}
#featured_projects .project_ctn .project_details {
  margin: 2.5rem 0;
  padding: 0 0.875rem;
}
#featured_projects .project_ctn .project_details span {
  font-size: 0.875rem;
  color: #6fc68e;
  font-weight: 400;
}
#featured_projects .project_ctn .project_details h2 {
  margin: 0.5em 0;
  font-size: 1.25rem;
  font-weight: 400;
  color: #c8f3d7;
}
#featured_projects .project_ctn .project_details p {
  text-align: left;
  font-size: 0.75rem;
}
#featured_projects .project_ctn .project_details ul {
  margin: 1em 0 3em 0;
  display: flex;
  flex-direction: row;
  font-size: 0.875rem;
  list-style: none;
}
#featured_projects .project_ctn .project_details li {
  margin-right: 1.5em;
  color: #6fc68e;
  font-size: 0.75rem;
}
#featured_projects .project_ctn .project_details .project_btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6fc68e;
  width: 90%;
  height: 3rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: #033232;
}
#featured_projects .project_ctn .project_image {
  width: 100%;
}

#contact_section p {
  text-align: left;
}
#contact_section .CTA_btn {
  margin: 0 auto;
}

/*# sourceMappingURL=app.css.map */
