/* LAYOUTS */

/* Nav */
nav {
  display: flex;
  flex-direction: row;
  background-color: $primary-color;
  padding: 0.5rem;
}

#header_section {
  display: block;
  padding: 2em 0;
  max-width: 100%;
}

#about_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  position: relative;
  text-align: left;
  width: 100vw;
  max-width: 100%;
}

#featured_projects {
  padding: 2rem 1rem;
  // display: block;
  // flex-direction: column;
  max-width: 100%;
  // height: 100vh;
  color: $text-color;
  background-color: $primary-color;
}

#contact_section {
  padding: 1rem;
}

#footer {
  background-color: antiquewhite;
}
